:root {
    --bg-color: #fffeef;
    --text-color: #404040;
    /*might not need shadows yet but yk*/
    --shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

@font-face {
    font-family: RodinNTLG;
    src: url('../FOT-RodinNTLG Pro DB.otf');
}

@font-face {
    font-family: MarvelouzTubeFont3;
    src: url('../MarvelouzTube Font 3.ttf')
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: var(--bg-color);
    opacity: 1;
    background-image: linear-gradient(0deg, #FFFFFF00 50%, #feedcb 50%);
    background-size: 6px 6px;
    color: var(--text-color);
    font-family: 'RodinNTLG', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    cursor: default;
}

#content {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.test-btn {
    color: var(--text-gray);
    background-image: linear-gradient(to top, #d6d3bd 2%, #f7f3ef 15%);
    border-radius: 15px;
    transition: transform 0.2s ease;
    width: fit-content;
    height: fit-content;
    min-width: 250px;
    min-height: 150px;
    font-size: 30px;
    border: none;
    box-shadow: rgba(0,0,0,0.2) 1px 1px 10px inset;
    font-family: inherit;
}

.guide-txt {
    width: 50vw;
}

@media (max-width: 800px) {
    .test-btn {
        font-size: 5vw;
    }
    .guide-txt {
        width: 100vw;
    }
}

.test-btn:hover {
    transform: scale(1.05);
}

.test-btn:active {
    transform: scale(0.95);
}

.pfp {
    width: 30px;
    border-radius: 50px;
    position: relative;
    top: 5px;
    box-shadow: 1px 1px white;
}

body {
    padding-bottom: 510px;
}

#header-guide {
    font-size: 40px;
    color: orange;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    font-family: MarvelouzTubeFont3;
    font-weight: 100;
}

.header-column {
    text-decoration: underline;
}