:root {
    --pill-bg: linear-gradient(to bottom, #ffc400, #ffb300);
    --bg-color: #f2eebd;
    --text-color: #404040;
    /*might not need shadows yet but yk*/
    --shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

@font-face {
    font-family: RodinNTLG;
    src: url('../FOT-RodinNTLG Pro DB.otf');
}

@font-face {
    font-family: MarvelouzTubeFont3;
    src: url('../MarvelouzTube Font 3.ttf')
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: var(--bg-color);
    opacity: 1;
    background-image: linear-gradient(0deg, var(--bg-color) 50%, #efe9a1 50%);
    background-size: 6px 6px;
    color: var(--text-color);
    font-family: 'RodinNTLG', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    cursor: default;
    padding-top: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#center-div {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
}

.navi-bar {
    background-image: linear-gradient(to bottom, #ffc400, #ffb300);
    overflow: hidden;
    border-bottom: solid 2px darkorange;
    border-right: solid 2px darkorange;
    border-left: solid 2px darkorange;
    width: 50vw;
    position: relative;
    bottom: 100px;
    box-shadow: var(--shadow);
    border-radius: 0 0 30px 30px;
}

    .navi-bar h4 {
        float: left;
        color: white;
        text-align: center;
        padding: 0px 30px;
        text-decoration: none;
        font-size: 13px;
        border-right: 2px solid #f7e0b5;
    }

@media (max-width: 800px) {
    .navi-bar h4 {
        float: left;
        color: white;
        text-align: center;
        padding: 0px 15px;
        text-decoration: none;
        font-size: 10px;
    }
}

.navi-bar h4:hover {
    cursor: pointer;
    color: white;
    padding: 0 30px;
}

.navi-bar h4:active {
    cursor: pointer;
    color: white;
    padding: 0px 30px;
}

#content {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#other-info-box {
    background-image: linear-gradient(to bottom, #f7f7f7, #e3e3e3);
    border: 2px solid #bababa;
    border-radius: 15px;
    width: fit-content;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: var(--shadow);
    opacity: 0.8;
}

#info-box {
    background-color: #aba282;
    border: 2px solid #757463;
    border-radius: 15px;
    width: fit-content;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #f2f2f2;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: var(--shadow);
    opacity: 0.8;
}

.guide-txt {
    width: 50vw;
}

@media (max-width: 800px) {
    #other-info-box {
        width: 90vw;
    }
    #info-box {
        width: 90vw;
    }
    .guide-txt {
        width: 90vw;
        font-size: 15px;
    }
}

.header-column {
    text-decoration: underline;
}

#header-guide {
    font-size: 40px;
    color: orange;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    font-family: MarvelouzTubeFont3;
    font-weight: 100;
    text-shadow: 3px 3px #dbd693;
}

.hide {
    opacity: 0;
}

.pill-button {
    background: var(--pill-bg);
    padding: 15px 30px;
    border-radius: 50px;
    border: 2px solid darkorange;
    box-shadow: var(--shadow);
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease;
    width: fit-content;
    min-width: 250px;
}

    .pill-button:hover {
        transform: scale(1.05);
    }

    .pill-button:active {
        transform: scale(0.95);
    }